@font-face {
    font-family: 'Josefin-Sans';
    font-style: normal;
    src: url('Assets/JosefinSans-VariableFont_wght.ttf') format('truetype-variation');

}
  
 
  

body{
    font-family: 'Josefin-Sans', sans-serif;
}
.Frame{
    margin-left: -10px;
    top: -10px;
    width: 420px; 
    height: 100%; 
    background: #F8FFE5; 
    display:flex;
    flex-direction: column;
    align-items: center;
}

.Logo{
    width: 316.16px; 
    height: 257.28px;
}

h1{
    margin-top: -10px;
    font-size: 21px;
}

.D1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.DrinkClass{
    display:flex;
    flex-direction: row;
    justify-content: start;    
    width:100%;
    

}



.DrinkImage{ 
    width: 95%;
    align-items: left;
    position: relative;
    
    flex-shrink: .65;
}



.drink{
    
    flex:0 0 auto;
    max-width: 80%;
    height: auto;
    position:absolute;
    left: 10%;
    margin-top: 12%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
    
}

.DrinkClass img{
    width: 100%;
    
}

.DrinkText{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.DrinkText h2{
    margin-top: 4%;
    text-align: center; 
    color: #F39354; 
    font-size: 22px; 
    font-weight: 600;
    margin-bottom: 4%;
}

.line1{
    width:40px;
    height: 2px;
    background-color:#587B7F;
}

.DrinkText h3{

    text-align: center; 
    color: black; 
    font-size: 15px; 
    font-weight: 200; 
    line-height: 18.53px; 
    letter-spacing: 0.45px; 
    word-wrap: break-word;
    margin-top:6%;
    
    

}

.Options{
    
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.D1_Content{
    display: none;
    width: 100%;
}
.Info{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left:15%;

}

#header{
    color: #F39354; 
    font-size: 16px; 
    font-weight: 700; 
    word-wrap: break-word
}

#InfoText{
    color: black; 
    font-size: 16px; 
    font-weight: 300; 
    word-wrap: break-word;

}







.Info img{
    width: 20px;
    height: 20px;
    margin-left: 2px;
}

#MoreInfo{
    color: #587B7F; 
    font-size: 16px; 
    font-weight: 500; 
    letter-spacing: 2px; 
}

.Cart{
    position:relative;
    display: flex;
    align-items: center;
    margin-right:15%;


}

.CartBox{

    
    background: linear-gradient(90deg, #F39354 0%, rgba(243, 147, 84, 0.45) 100%); 
    border-radius: 7px; 
    width: 126px; 
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.CartBox h3{
    font-size: 16px; 
    font-weight: 300; 
    letter-spacing: 1px; 
}

.line2{
    width:40px;
    height: 2px;
    background-color: #587B7F;
}

#greenText h2{
    color: #66690E;
}

.content{
    width: 371px; left: 9px; top: 544px; position: absolute;
    overflow: hidden; display: none;
    transition:all 4s
}

.Collapse{
    left: 100px; top: 530px; position: absolute; text-align: right; 
    color: #587B7F; font-size: 16px; font-weight: 400; 
    word-wrap: break-word

}



/* 1532*/