.Frame{
   left:-2px;
   top: -2px;
    width: 90px; height: 881px; position: relative; background: #F8FFE5;
}

.Group1{
    width: 521px; height: 752px; left: -83px; top: -2px; position: absolute;
}

.logo{
    width: 355.17px; height: 243.16px; left: 16px; top: 0px; position: absolute;
}