@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('Assets/Inter-Regular.woff2') format('woff2'),
         url('Assets/Inter-Regular.woff') format('woff');
  }
  
 
  @font-face {
    font-family: 'Inter-bold';
    font-style: normal;
    font-weight: 900;
    src: url('Assets/Inter-Bold.woff2') format('woff2'),
         url('Assets/Inter-Bold.woff') format('woff');
  }

html{
    background: linear-gradient(180deg, #2E2D4E 34%, #A6B2DD 100%);    display:flex;
    font-family: 'Inter', sans-serif;
}


.Frame{
    margin-left: -10px;
    top: -10px;
    width: 420px; 
    height: 800px; 
    background: linear-gradient(180deg, #2E2D4E 34%, #A6B2DD 100%);    display:flex;
    flex-direction: column;
    align-items: center;
}

.Title{
    margin-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.Title h3{
    color: white;
    letter-spacing: 1.89px;
    font-weight: 300;
    margin:0;
    margin-bottom:-20px;
}
.Title h1{
    padding-top: 0px;
    text-align: center;
    font-size: 40px;
}

#tap{
    color: #A6B2DD; font-weight: 300;
}
#black{
    color: black;
    font-family: 'Inter-bold', sans-serif;

}

.Animation_Block{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Card{
    width: 307px; 
    height: 186px; 
    background: linear-gradient(180deg, rgba(31.88, 25.37, 25.37, 0.96) 0%, #393333 100%); 
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px

}

.Main_Text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Main_Text h2{
    font-size: 40px;
    text-align: center;
    
    background: -webkit-linear-gradient(#1f1f1f, #1f1f1f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; color: rgba(0, 0, 0, 0); -webkit-text-stroke: 1px black;
    margin-bottom: 0px;
}

.Main_Text h4{
    color:white;
    font-weight: 400;
    letter-spacing: 1.89px;
    font-size: 18px;
    text-align: center;
    width: 90%;
}

.Dots{
    display: flex;
    margin-bottom: 10%;
    margin-top: 2%;

}
.Dots div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1f1f1f;
    margin: 3px;
}
#D1{
    background-color: #C2E812;
}

.Order-Box{
    width: 245px; 
    height: 45px; 
    background: #027BCE; 
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Order-Box h3{
    color:white;
    font-weight: 400;
    letter-spacing: 1.89px;
    font-size: 18px;
    text-align: center;
}

